$primary: #3498db;
$secondary: #442504;
$tertiary: #f4d03f;
$quaternary: #2ecc71;
$header_background: #221b16;
$header_primary: #e74c3c;
$highlight: #7d3c98;
$danger: #7b241c;
$success: #1d8348;
$love: #fadbd8;


$temp: #ff1493;