

//use Roboto font
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
body input, body button, body select, body textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

// *******************************************************
// CUSTOM STYLING
// *******************************************************

$primary: #000000;              // Most text, icons, and borders.
$secondary: #442504;            // The main background color, and text color of some buttons.
$tertiary: #762123;             // Links, some buttons, notifications, and accent color.
$quaternary: #ff1493;           // Navigation links.
$header_background: #000000;    // Background color of the site's header.
$header_primary: #e5d194;       // Text and icons in the site's header.
$highlight: #762123;            // The background color of highlighted elements on the page, such as posts and topics.
$danger: #990000;               // Highlight color for actions like deleting posts and topics.
$success: #009900;              // Used to indicate an action was successful.
$love: #ec7063;                 // The like button's color.

// Base Colors
$a_color: #762123;

// Custom Colors and Variables
$white: #ffffff;
$light_alt: #f1e9d0;
$xdark-brown: #221b16;
$nav_pill_hover_color: #f4d03f;
$nav_pill_active_color: #f4d03f;



// base.scss
// --------------------------------------------------
// Base styles for HTML elements
// --------------------------------------------------

html {
    color: $primary;
    //font-family: $base-font-family;
    //font-size: $base-font-size;
    //line-height: $line-height-large;
    //background-color: $secondary;
    overflow-y: scroll;
    direction: ltr;
}

// Links
// --------------------------------------------------

a {
    color: $a_color;
    text-decoration: none;
    cursor: pointer;
    &:visited {
        color: $a_color;
    }
    &:hover {
        color: $a_color;
    }
    &:active {
        color: $a_color;
    }
}

// Typography
// --------------------------------------------------

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    border: 0;
    //border-top: 1px solid $primary-low;
    padding: 0;
}

// Lists
// --------------------------------------------------

ul,
dd {
    margin: 0 0 9px 25px;
    padding: 0;
}


.cooked ul, .cooked ol, .cooked dd {
    clear: both;
}

.cooked ul, .d-editor-preview ul {
    margin: 0;
    padding-left: 40px;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

// Embedded content
// --------------------------------------------------

img {
    vertical-align: middle;
}

// Forms
// --------------------------------------------------

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

pre code {
    overflow: auto;
    tab-size: 4;
}


.row:before, .row:after {
    display: table;
    content: "";
}
.row:after {clear: both;}


#offscreen-content {
    display: none;
}



// --------------------------------------------------
// CUSTOM STYLES for HTML elements
// --------------------------------------------------

// CUSTOM STYLES -> Navigation
.nav.nav-stacked {
    a {
        color: $light_alt;
        &.active {
            background-color: transparent;
            color: $nav_pill_active_color;
            font-weight: bold;
        }
    }
}