

//@import url("https://use.typekit.net/lty7vnp.css");
@import url("https://use.typekit.net/ced7snk.css");


//use Roboto font
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
body input, body button, body select, body textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

// *******************************************************
// CUSTOM STYLING
// *******************************************************

$primary: #000000;              // Most text, icons, and borders.
$secondary: #442504;            // The main background color, and text color of some buttons.
$tertiary: #762123;             // Links, some buttons, notifications, and accent color.
$quaternary: #ff1493;           // Navigation links.
$header_background: #000000;    // Background color of the site's header.
$header_primary: #e5d194;       // Text and icons in the site's header.
$highlight: #762123;            // The background color of highlighted elements on the page, such as posts and topics.
$danger: #990000;               // Highlight color for actions like deleting posts and topics.
$success: #009900;              // Used to indicate an action was successful.
$love: #ec7063;                 // The like button's color.

// Custom Colors and Variables
$a_color: #762123;
$white: #ffffff;
$off_white: #c4c4c4;
$black: #000000;
$light_alt: #f1e9d0;
$xdark-brown: #221b16;
$nav_pill_hover_color: #f4d03f;
$nav_pill_active_color: #f4d03f;
$stacked_nav_hover_color: #ffffff;
$stacked_nav_background_hover_color: #762123;
$hover_color: #f4d03f;
$active_color: #f4d03f;
$btn_color: #ffffff;
$btn_hover_color: #f1e9d0;
$btn_active_color: #f4d03f;
$btn_disabled_color: #aaaaaa;
$input_description_color: #4B4631;
$input_border_focus_color: #762123;

// Table Colors
$table_hover_color: #ffffff;
$th_background_color: #442504;
$th_background_image: $bkg-rock-01;
$th_color: #ffffff;
$th_a_color: #f4d03f;
$tr_background_color_2n: rgba(68,37,4,0.08);
$tr_hover_background_color: #762123;

// Forum Topic Colors
$topic_background_image: $texture-papyrus;


// Brand color variables from variables.css
// --------------------------------------------------

$google: #5b76f7 !default;
$instagram: #125688 !default;
$facebook: #3b5998 !default;
$cas: #70BA61 !default;
$twitter: #00bced !default;
$yahoo: #810293 !default;
$github: #6d6d6d !default;



// base.scss
// --------------------------------------------------
// Base styles for HTML elements
// --------------------------------------------------

html {
    color: $primary;
    //font-family: $base-font-family;
    //font-size: $base-font-size;
    //line-height: $line-height-large;
    //background-color: $secondary;
    overflow-y: scroll;
    direction: ltr;
}

// Links
// --------------------------------------------------

a {
    color: $a_color;
    text-decoration: none;
    cursor: pointer;
    &:visited {
        color: $a_color;
    }
    &:hover {
        color: $a_color;
    }
    &:active {
        color: $a_color;
    }
}

// Typography
// --------------------------------------------------

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    border: 0;
    //border-top: 1px solid $primary-low;
    padding: 0;
}

// Lists
// --------------------------------------------------

ul,
dd {
    margin: 0 0 9px 25px;
    padding: 0;
}


.cooked ul, .cooked ol, .cooked dd {
    clear: both;
}

.cooked ul, .d-editor-preview ul {
    margin: 0;
    padding-left: 40px;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

// Embedded content
// --------------------------------------------------

img {
    vertical-align: middle;
}

// Forms
// --------------------------------------------------

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

pre code {
    overflow: auto;
    tab-size: 4;
}


.row:before, .row:after {
    display: table;
    content: "";
}
.row:after {clear: both;}


#offscreen-content {
    display: none;
}


// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Base
// --------------------------------------------------

.btn {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    font-weight: 500;
    //font-size: $font-0;
    //line-height: $line-height-medium;
    text-align: center;
    cursor: pointer;
    //transition: all .25s;
    transition: color .35s;

    &:active, &.btn-active {
        text-shadow: none;
        background: url($bkg-btn-red) no-repeat bottom center !important;;
    }
    &[disabled], &.disabled {
        cursor: default;
        opacity: 0.4;
    }
    .fa {
        margin-right: 7px;
    }
    &.no-text {
        .fa {
            margin-right: 0;
        }
    }
}

.btn.hidden {
    display: none;
}



// Default button
// --------------------------------------------------

.btn {
    border: none;
    color: $btn_color !important;
    font-weight: normal;
    background: url($bkg-btn-red) no-repeat top center !important;

    &[href] {
        color: $btn_color !important;
    }
    &:hover, &.btn-hover {
        background: url($bkg-btn-red) no-repeat bottom center !important;
        color: $btn_hover_color !important;;
    }
    &[disabled], &.disabled {
        background: url($bkg-btn-red) no-repeat top center !important;
        color:$btn_disabled_color !important;
        &:hover {
            background: url($bkg-btn-red) no-repeat bottom center;
            color: $btn_disabled_color !important;
        }
        cursor: not-allowed;

    }

    .d-icon {
        opacity: 0.7;
        //line-height: $line-height-medium; // Match button text line-height
    }
    &.btn-primary .d-icon {
        opacity: 1;
    }
}



// Primary button
// --------------------------------------------------

.btn-primary {
    border: none;
    font-weight: normal;
    color: $white !important;
    background: url($bkg-btn-red) no-repeat top center !important;

    &[href] {
        color: $btn_color !important;
    }
    &:hover, &.btn-hover {
        color: $btn_hover_color !important;
        background: url($bkg-btn-red) no-repeat bottom center !important;
    }
    &:active, &.btn-active {
        color: $btn_active_color !important;
        background: url($bkg-btn-red) no-repeat bottom center !important;
    }
    &[disabled], &.disabled {
        background: url($bkg-btn-red) no-repeat top center !important;
        color: $btn_disabled_color !important;
    }
}



// Danger button
// --------------------------------------------------

.btn-danger {
    color: $btn_color !important;
    font-weight: normal;
    background: url($bkg-btn-red) no-repeat top center !important;
    &[href] {
        color: $btn_color !important;
    }
    &:hover, &.btn-hover {
        background: url($bkg-btn-red) no-repeat bottom center !important;
        color: $btn_hover_color !important;
    }
    &:active, &.btn-active {
        background: url($bkg-btn-red) no-repeat bottom center !important;
        color: $btn_active_color !important;
    }
    &[disabled], &.disabled {
        background: url($bkg-btn-red) no-repeat top center !important;
        color: $btn_disabled_color !important;
    }
}



// Social buttons
// --------------------------------------------------

.btn-social {
    color: #fff;
    &:hover {
        color: $btn_hover_color;
    }
    &[href] {
        color: $btn_color;
    }
    &:before {
        margin-right: 9px;
        font-family: FontAwesome;
        //font-size: $font-0;
    }
    &.google, &.google_oauth2 {
        background: $google;
        &:before {
            //content: $fa-var-google;
        }
    }
    &.instagram {
        background: $instagram;
        &:before {
            //content: $fa-var-instagram;
        }
    }
    &.facebook {
        background: $facebook;
        &:before {
            //content: $fa-var-facebook;
        }
    }
    &.cas {
        background: $cas;
    }
    &.twitter {
        background: $twitter;
        &:before {
            //content: $fa-var-twitter;
        }
    }
    &.yahoo {
        //background: $yahoo;
        &:before {
            //content: $fa-var-yahoo;
        }
    }
    &.github {
        background: $github;
        &:before {
            //content: $fa-var-github;
        }
    }
}


// Button Sizes
// --------------------------------------------------

// Small

.btn-small {
    padding: 3px 6px;
    //font-size: $font-down-1;
    &:hover {

    }
}

// Large

.btn-large {
    padding: 9px 18px;
    //font-size: $font-up-1;
    //line-height: $line-height-small;
}

.btn-flat {
    background: transparent;
    border: 0;
    outline: 0;
    //line-height: $line-height-small;
    .d-icon {
        opacity: 0.7;
    }
}



// Input Fields
.select-kit-body,
textarea,
input,
.select-kit-collection,
.is-focused,
.is-expanded,
.is-none,
.combo-box-header,
.select-kit-filter.multi-select-filter {
    background: $white !important;
    box-shadow: none !important;
    &:focus,
    &.is-focused {
        background: $white !important;
        box-shadow: none !important;
        border-color: $input_border_focus_color;
    }
}

.select-kit.combo-box.is-expanded .select-kit-wrapper {
    box-shadow: none !important;
    border: 1px solid $input_border_focus_color;

}

.select-kit .select-kit-row.is-highlighted {
    background-color: $input_border_focus_color;
    color: $white;
}

.category-list, .topic-list:not(.categories), .latest-topic-list {
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

    // Input setting description
.settings .setting .desc {
    color: $input_description_color;
}




// --------------------------------------------------
// CUSTOM STYLES for HTML elements
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    font-family: trajan-pro-3,serif !important;
    font-style: normal;
    color: $black !important;
}

// CUSTOM STYLES -> Navigation
.nav.nav-stacked {
    a {
        color: $light_alt;
        &.active {
            background-color: transparent;
            color: $nav_pill_active_color;
            font-weight: bold;
            &::after {
                // this is the arrow
                color: $nav_pill_active_color;
            }
        }
        &:hover {
            color: $stacked_nav_hover_color;
            background-color: $stacked_nav_background_hover_color;
        }
    }
}


// Tables
th {
    background-color: $th_background_color !important;
    background-image: url($th_background_image) !important;
    background-position: top center !important;
    background-repeat: repeat !important;
    color: $th_color !important;
    .fa {
        color: $th_color !important;
    }
    a {
        color: $th_a_color !important;
    }
}

tr {
    &:nth-of-type(2n) {
        background-color: $tr_background_color_2n !important;
    }
    &:hover {
        background-color: $tr_hover_background_color !important;
        td,
        td a,
        td .fa {
            color: $table_hover_color !important;
        }
    }
}


// Header Menus
.header-dropdown-toggle {
    a .fa {
        color: $white !important;
        opacity: 1 !important;
    }
    &:hover a {
        background-color: transparent !important;
        .fa {
            color: $hover_color !important;
            opacity: 1 !important;
        }
    }
}

// Topics
.topic-body {
    background-image: url($topic_background_image);
    background-repeat: repeat;
    background-position: top center;
}
//

